<div class="container">
  <div class="row">
    <div class="col s12">
      <h3>Dojo Weather Forecast</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <nav>
        <div class="nav-wrapper blue">
          <ul>
            <li routerLinkActive="active"><a routerLink="/seattle">Seattle, WA</a></li>
            <li routerLinkActive="active"><a routerLink="/sanjose">San Jose, CA</a></li>
            <li routerLinkActive="active"><a routerLink="/burbank">Burbank, CA</a></li>
            <li routerLinkActive="active"><a routerLink="/dallas">Dallas, TX</a></li>
            <li routerLinkActive="active"><a routerLink="/dc">Washington, DC</a></li>
            <li routerLinkActive="active"><a routerLink="/chicago">Chicago, IL</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>